<% @store.events.each do |event| %>
  <div class="event-container">
    <h6 class="event-header"><%= event.name %></h6>
    <p><small><%= event.time %></small></p>
    <p><small><%= event.category %></small></p>
    <p><%= event.description %></p>
    <%= button_to 'Delete', [@store, event], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %>
    <%= button_to 'Attend', attend_store_event_path(@store, @event.id), method: :post, class: "btn btn-success" %>
  </div>
<% end %>
