<div class="container store-info">
  <h1>Store Registration</h1>
</div>

<div class="container">
  <p>Thinking of registering you're hobby/boardgame/minitures store? You have come to the right place. BattleTime strives to create a hub for organized play. Schedule events and invite your customers to check out your store calendar.</p>
  <p>Step one is to register below, after that your store will be evaluated for legitimacy by admins, once approved it will be added to our store finder and the owner will be given full access to add and remove events from the calendar.</p>
  <h1>So get started!</h1>

  <div class="col-md-4">
    <%= bootstrap_form_for @store do |f| %>
      <div class="form-group">
        <%= f.text_field :name, label: 'Store Name', class: 'form-group' %>
      </div>

      <div class="form-group">
        <%= f.email_field :email %>
      </div>

      <div class="form-group">
        <%= f.text_field :address %>
      </div>

      <div class="action">
        <%= f.submit 'Send', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
