<div class="container">
  <h1><%= @store.name.capitalize %></h1>
  <h3><%= @store.address %></h3>
  <h3><%= @store.email %></h3>
</div>

<div class="container">
  <h1>All Events</h1>

  <!-- Partail to render all events -->
  <%= render 'events' %>

  <!-- Partial displaying single nil event, needs fix -->
</div>

<div class="container">
  <h1>Add Event</h1>

  <div class="col-md-4">
    <%= bootstrap_form_for([@store, @event]) do |f| %>
      <%= f.text_field :name %>
      <%= f.datetime_select :time %>
      <%= f.text_area :description %>
      <%= f.submit 'Add Event', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
