<div class="container">

  <h1>Sign Up</h1>

  <div class="col-md-4">
    <%= bootstrap_form_for @user do |f| %>

      <div class="form-field">
        <%= f.text_field :username, label: 'Username' %>
      </div>

      <div class="form-field">
        <%= f.text_field :email %>
      </div>

      <div class="form-field">
        <%= f.text_field :firstname, label: 'First Name' %>
      </div>

      <div class="form-field">
        <%= f.text_field :lastname, label: 'Last Name' %>
      </div>

      <div class="form-field">
        <%= f.password_field :password %>
      </div>

      <div class="form-field">
        <%= f.password_field :password_confirmation, label: 'Confirm Password' %>
      </div>

      <div class="submit-field">
        <%= f.submit :submit, class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
