<div class="container">

  <h1>Sign Up</h1>

  <%= form_for @user do |f| %>

    <div class="form-field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="form-field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form-field">
      <%= f.label :first_name %>
      <%= f.text_field :firstname %>
    </div>

    <div class="form-field">
      <%= f.label :last_name %>
      <%= f.text_field :lastname %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="submit-field">
      <%= f.submit :submit %>
    </div>
    
  <% end %>
</div>
