<div class="container store-info">
  <h1><%= @user.username.capitalize %>'s Account</h1>
</div>

<div class="container">
  <h3>Information</h3>
  <p><%= @user.email %></p>
  <p><%= @user.firstname %> <%= @user.lastname %></p>
  <p><%= @user.address %></p>
</div>
