<!DOCTYPE html>
<html>
  <head>
    <title>BattleTime</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= render 'shared/navbar' %>

  <div class="container">
    <% flash_messages %>
  </div>

  <%= yield %>

  <br>
  <br>
  <div class="container">
    <% if current_user %>
      <p>Signed in as: <strong><%= current_user.username.capitalize %></strong></p>
    <% end %>
  </div>

  <div class="container">
    <footer>
      <p><small>&copy BattleTime | Alex Slye | 2016</small></p>
    </footer>
  </div>
  </body>
</html>
