<!DOCTYPE html>
<html>
  <head>
    <title>BattleTime</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= render 'shared/navbar' %>

  <div class="container">
    <% flash_messages %>
  </div>

  <%= yield %>

  <p>Signed in as: <% current_user.username %></p>

  </body>
</html>
